body {
  overflow: hidden;
  background-color: black;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../contact.png);
  background-position: center;
  background-size: cover;
}

main {
  height: 100vh;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.285), rgba(0, 0, 0, 0.113));
  width: 500px;
  height: min-content;
  padding: 20px;
  border-radius: 10px;
}

form {
  margin: 0 auto;
  width: min-content;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 5px 0px;
}

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  width: 300px;
  margin: 5px 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
}

textarea {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  margin: 5px 0px;
}

input[type="submit"] {
  padding: 15px 10px;
  border-radius: 50px;
  border: none;
  background: rgb(44, 44, 244);
  display: block;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
