@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  margin: 25px;
}

ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 0.5px solid transparent;
}
ul li a:hover {
  background-color: #ff5733;
  color: #000;
}
ul li.active a {
  background-color: #ff5733;
  color: #000;
}
.logo img {
  float: left;
  width: 400px;
  height: auto;
}
.main {
  max-width: 1500px;
  margin: auto;
}
