body {
  overflow: hidden;
  position: relative;
}

main {
  position: absolute;
  background: rgba(41, 39, 39, 0.228);
  color: white;
  left: 50%;
  transform: translate(-50%, 10%);
  height: 80vh;
  overflow-y: scroll;
  max-width: 700px;
  z-index: 1;
  padding: 30px;
  border-radius: 10px;
  font-size: 24px;
}

.video-container {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
