* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../tanjiro.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  margin: 25px;
}

ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 0.5px solid transparent;
}
ul li a:hover {
  background-color: #ff5733;
  color: #000;
}
ul li.active a {
  background-color: #ff5733;
  color: #000;
}
.logo img {
  float: left;
  width: 400px;
  height: auto;
}
.main {
  max-width: 1500px;
  margin: auto;
}
.button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  border: 1px solid #ff5733;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover {
  background-color: #ff5733;
  color: #000;
}
